@import "tailwindcss";

@media screen and (max-width: 768px) {
    #nav-about ,#nav-support{
        display: none;  /*Navbar context hide*/
    }
}

@media screen and (max-width: 828px) {
    #navbar {
        width:100%;
        max-width: 100%;
        height: 75px;
    }
}

