@import "tailwindcss";

@media screen and (max-width: 768px) {
    #nav-about ,#nav-support{
        display: none;  /*Navbar context hide*/
    }
}

@media screen and (max-width: 828px) {
    #navbar {
        width:100%;
        max-width: 100%;
        height: 75px;
    }
}

@media screen and (max-width: 500px) {
  #logo img{
    width: 160px;
  }
}

@media  screen and (max-width: 380px) {
  #footer-text{
   padding: 0; 
  }
  #links{
    gap: 24px;
  }
  #icons{
    padding-top: 0;
  }
  #navbar{
    padding: 0 7px;
  }
  #logo{
    padding: 0;
    width: fit-content;
  }
  #nav-btn{
    font-size: 12px;
    padding: 6px 12px;
  }
}
