.counters {
    padding: 3em 0;
    color: #fff;
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
    margin: 0 12rem;
    justify-content: space-between;
}

.counter-image {
    width: 30%;
    border-radius: 10px;
}

.counter {
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 13rem;
    border: 2px solid #fff;
    background: #4193ff;
    border-radius: 25px;
}

.counter h1 {
    font-size: 3em;
}

.counter:not(:last-child)::before {
    content: '';
    background: #fff;
    position: absolute;
    width: 2px;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    right: -1em;
}

@media screen and (max-width: 1200px){
    .counters{
        margin: 0 8rem;
    }
}

@media screen and (max-width: 1060px){
    .counters{
        margin: 0 4rem;
        gap: 0.8rem;
    }
    .counter{
        width: 12rem;
    }
}

@media screen and (max-width: 900px){
    .counters{
        margin: 0 15px;
        gap: 10px;
    }
    .counter{
        width: 12rem;
    }
    .counter h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 790px){
    .counters{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    .counter h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 380px) {
    .counters{
        display: flex;
        margin: auto;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
    }
}