/* .box{
    background-color: #fff;
    height: 75vh; 
    width: 30%; 
    margin: auto; 
    border-radius: 10px; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box input{
    width: 100%;
    padding: 0;
    
} */
