@import "tailwindcss";
/* 023e8a - button  , a2d2ff-navbar , 38a3a5 -hover */

@media screen and (max-width: 768px) {
    #nav-about ,#nav-support{
        display: none;
    }
}

@media screen and (max-width: 828px) {
    #navbar {
        width:100%;
        max-width: 100%;
        height: 75px;
    }
}

