.container {
    background-image: url("/image/about-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.profile {
    box-shadow: 1px 2px 12px 4px rgba(0, 0, 0, 0.13);
}