.swiper-button-prev, .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.13); 
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #4193ff; 
  transform: scale(1.1); 
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px; 
}
