@media screen and (max-width: 1030px) {
    .goals {
        margin-left: 0px;
    }
}


@media screen and (max-width: 700px) {
    .goals {
        padding: 20px 20px;
    }

}

@media screen and (max-width: 590px) {
    .goals {
        padding: 20px 10px;
    }

    .goal-1 {
        padding: 15px 13px;
    }

}

@media screen and (max-width: 530px) {
    .goal-text {
        font-size: 20px;
    }
    .goal-1 button{
        margin-left: 10px;
    }

}

@media screen and (max-width: 460px) {
    .goal-1 {
        padding: 15px 13px;
        flex-direction: column;
        align-items: start;
        padding-inline: 24px;
        gap: 8px;
    }

    .goal-text {
        font-size: 18px;
    }
    .goal-1 button {
        padding-inline: 20px
    }

}